::selection {
  background: #333;
  color: #fff;
}

::-moz-selection {
  background: #333;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
}

body {
  max-height: 100%;
}

h1 {
  font-family: "Antic Didone", serif;
  font-size: 96px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  width: 720px;
  max-width: 95%;
}

.content {
  margin-top: 5%;
}

form {
  padding: 20px 0;
  width: 100%;
}

input,
button {
  height: 40px;
  padding: 0 8px;
  font-family: Arial, sans;
  font-size: 16px;
}

input {
  width: 75%;
  color: #333;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
  transition: border .2s ease-in-out;
}

input:hover {
  border: 1px solid #999;
  border-right: none;
}

button {
  width: 25%;
  background: #333;
  color: #ccc;
  border: none;
  border-radius: 0 4px 4px 0;
  transition: color .2s ease-in-out;
}

button:hover {
  color: #fff;
  cursor: pointer;
}
